* {
    padding: 0;
    margin: 0;
}
body, p{
    font-family: 'HanHei SC', 'PingFang SC', 'CenturyGothic', 'Helvetica Neue',  'Helvetica', 'STHeitiSC-Light', 'SimHei', 'Arial', sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none !important;
}

/*unversive css start*/
.article-tags-black {
    color: #000;
    background-color: transparent;
    border-radius: .2em
}

.article-tags-black:hover {
    transition: all .5s linear;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.article-tags-white {
    color: #fff;
    background-color: transparent;
    border-radius: .2em
}

.article-tags-white:hover {
    transition: all .5s linear;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
}

.article-tags-white-border {
    color: #fff;
    background-color: transparent;
    border-radius: .2em
}

.article-tags-white-border:hover {
    transition: all .5s linear;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    border:1px solid #000;
}

.font-white {
    color: #fff
}

.font-black {
    color: #000;
}

.no-padding-left-right {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.img-container {
    width: 100%;
}

.img-container img {
    margin: 0 auto
}

.home-left {
    background: url(./34.jpg) no-repeat center;
    position: relative;
}

.home-left .home-myspace {
    color: #fff;
    position: absolute;
}

.home-left .home-myspace img {
    border: 0.3em solid #fff;
    border-radius: 50%;
}

.home-left .home-myspace h3 {
    padding-top: 1em;
    font-size: 2.2em;
    font-weight: 600;
}

.home-left .home-myspace p {
    padding-top: 0.63em;
    font-size: 1.87em;
}

.home-connect-us {
    position: absolute;
    bottom: 10em;
    text-align: center;
}
.share-icon i{
    padding-top: 4px;
    color: #fff;
    font-size: 1em;
    vertical-align: middle;
}
a.share-icon {
    text-align: center;
    width: 2em;
    height: 2em;
    border-radius: .2em;
    background-color: rgba(255, 255, 255, .2);
    display: inline-block;
    margin-right: .2em;
}

.connect-frame a {
    color: #fff;
    margin-right: .3em;
    word-break: keep-all;
}

.home-right{
    overflow: hidden;
}

.home-right .right-menu {
    border-bottom: 0.1em solid #eee;
}

.home-right .right-menu a {
    padding: 2em;
    font-weight: 500;
    color: #030303;
}

.home-right .right-menu a.selected-menu {
    border-bottom: 2px solid #030303
}

.home-right .home-article-container {
    overflow: auto;
}

.article-single {
    padding: 1em 0;
}

.article-single a {
    color: #1d2225;
}

.article-single h3 {
    font-weight: bold;
    font-size: 1.7em;
    color: #1D2225;
}

.article-single p {
    word-break: break-all;
    color: #636972;
    font-weight: 400;
    line-height: 1.75;
    font-size: 1.2em;
}

.article-single a {
    display: inline-block;
}

a.tags {
    font-weight: 700;
    letter-spacing: .02em;
    font-size: 1.2em;
    color: #3f6dad;
    margin-right: 1em;
}
.menu-search{
    padding-right: 5px;
}
/* comment start*/
.comments-list{
    margin: 2em 0;
}
.comments-list h5{
    font-size: 1.1em;
    color: #a05b5b;
}
.comments-main li{
    display: block;
    border-bottom: 1px solid #eee;
    padding: 1em;
    clear: both;
    overflow: hidden;
}
.comment-name{
    color: #333;
    font-size: 90%;
}
.comment-content{
    color: #5d5d5d;
}
.comment-time{
    color: #333;
    font-size: 80%;
}
.size-full{
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
/* comment end*/

/* page start*/

.page-frame {
    overflow-y: auto;
    padding: 2em;
    font-size: 1.3em;
    margin-bottom: 4em;
}

/* end start*/
.detail-header {
    width: 100%;
    height:30em;
    background-color: #d9eaf5;
    position: relative;
}

.detail-tags {
    width: 100%;
    margin: 2em auto 0;
}
.aligncenter{
    margin: 0 auto;
}

.detail-tags a {
    background-color: rgba(0,0,0, 0.4);
    margin: 0.3em;
    padding: .5em 1.5em;
    display: inline-block;
    border-radius: 3px;
    color:#fff
}

.post-time {
    margin: 1em;
    color: #000;
}

.article-main {
    margin-bottom: 2em;
    background-color: #fff;
    border-radius: .3em;
    -webkit-box-shadow: 0 0 4px #dfdfdf;
    -moz-box-shadow: 0 0 4px #dfdfdf;
    box-shadow: 0 0 4px #dfdfdf;
    padding: 4em 2em;
}

.article-info h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .3em;
    margin-bottom: .3em;
}

pre {
    border:none;
    padding: 0;
}

.article-info {
    font-size: 1em;
    color: #333;
}

.article-info p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 1em;
    color: rgba(0, 0, 0, .9);
    word-break: break-all;
    font-weight: 400;
}

.article-share {
    width: 100%;
    margin-top: 5em;
}

.article-share p {
    font-size: 1em;
    color: #a05b5b;
    text-align: center;
}

.article-share .article-connect-us {
    width: 100%;
}

.article-share .article-connect-us a {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: rgba(0, 0, 0, .6);
    border-radius: .3em;
    margin-right: .2em;
}

.article-comment {
    width: 100%;
    margin-top: 5em;
    border-top: .1em solid #eee;
}

.article-comment textarea {
    border: none;
    outline: none;
    padding: 1em;
    color: #000;
    width: 100%;
}

.article-comment input {
    border: none;
    outline: none;
    padding: 1em;
    color: #000;
}

.article-comment button {
    border: .2em solid #eee;
    border-radius: .1em;
    padding: 1em 2em;
    background-color: #fff;
}

.article-comment button:hover {
    border: .2em solid #fff;
    background-color: #eee;
    transition: all .3s linear;
}

.detail-pre-next {
    clear: both;
    border-top: .2em solid #eee;
}

.detail-pre-next-container {
    padding: 1.5em;
    font-size: 1.2em;
    color: #a9aeb2;
}

.detail-pre-next-container span{
    font-size: 0.8em;
}

.detail-pre-next-container a {
    font-size: 1em;
    color: #3d4a51;
}

/***响应式代码 start***/

@media all and (max-width: 767px) {
    body {
        font-size: 110%;
    }
    .home-left .home-myspace h3 {
        padding-top: .5em;
        font-size: 1.5em;
        font-weight: 600;
    }
    .home-left .home-myspace p {
        padding-top: .5em;
        font-size: 1.5em;
    }
    #scroller a {
        padding: .5em 1em;
        float: left;
        background-color: #fff;
        font-size: 14px;
        overflow: hidden;
        text-align: center;
    }
    .article-container {
        margin-top: 3em;
        overflow: hidden;
    }
    .article-main {
        margin-bottom: 2em;
        background-color: #fff;
        border-radius: .3em;
        -webkit-box-shadow: 0 0 4px #dfdfdf;
        -moz-box-shadow: 0 0 4px #dfdfdf;
        box-shadow: 0 0 4px #dfdfdf;
        padding: 2em 1em;
    }
    .article-info {
        font-size: 1.1em;
        color: #333;
    }
    .article-info p {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 1.1em;
        color: rgba(0, 0, 0, .9);
        word-break: break-all;
        font-weight: 400;
    }
    .article-share {
        width: 100%;
        margin-top: 3em;
    }
    .article-comment {
        width: 100%;
        margin-top: 3em;
        border-top: .1em solid #eee;
    }
    .detail-pre-next-container {
        padding: 1em;
        font-size: 1.2em;
        color: #a9aeb2;
    }
    .detail-pre-next-container a {
        font-size: 1em;
        color: #3d4a51;
    }
    .detailgoback{
        width: 23px;
        height: 23px;
        border-radius: 23px;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
    .detailgoback i{
        padding-left: 6px;
        font-size: 22px;
        color: #fff;
    }
}

@media (min-width: 768px) and (max-width: 1169px) {
    body {
        font-size: 120%;
    }
    #scroller a {
        padding: 1em 2em;
        float: left;
        background-color: #fff;
        font-size: 14px;
        overflow: hidden;
        text-align: center;
        font-weight: 500;
        color: #030303;
    }
    .article-container {
        margin-top: 6em;
        overflow: hidden;
    }
    .article-info {
        font-size: 1.2em;
        color: #333;
    }
    .detailgoback{
        width: 37px;
        height: 37px;
        border-radius: 37px;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 30px;
        left: 30px;
        cursor: pointer;
    }
    .detailgoback i{
        padding-left: 10px;
        font-size: 36px;
        color: #fff;
    }
}

@media all and (min-width: 1170px) {
    body {
        font-size: 130%;
    }
    #scroller a {
        padding: 2em 3em;
        float: left;
        background-color: #fff;
        font-size: 14px;
        overflow: hidden;
        text-align: center;
        font-weight: 500;
        color: #030303;
    }
    .article-container {
        margin-top: 10em;
        overflow: hidden;
    }
    .article-info {
        font-size: 1.4em;
        color: #333;
    }
    .detailgoback{
        width: 43px;
        height: 43px;
        border-radius: 43px;
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        top: 40px;
        left: 40px;
        cursor: pointer;
    }
    .detailgoback i{
        padding-left: 11px;
        font-size: 42px;
        color: #fff;
    }
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #555;
}

.home-article-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.home-article-container::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.home-article-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #555;
}

.home-right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.home-right::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.home-right::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #555;
}

/*error page start*/
.error-text h2 {
    margin: 0;
    padding: 0;
}
.error-text{
    position: absolute;
}

.error-page {
    margin: 0;
    padding: 0;
    background-color: #eee;
    color: #000;
    font-size: 1em;
}
.error-copy{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
}
.error-copy a{
    color: #fff;
}
/*error page end*/

/*search start*/
.article-search{
    padding: 1em;
    overflow: hidden;
}

[class^="icon-"]
{
    color: #777;
}

.search-next {
    padding: 1em;
    margin-bottom: 2em;
    text-align: center;
    background-color: #bdbdbd;
    color: #fff;
    border-radius: 5px;
}

.search-next:hover {
    background-color: #fff;
    color: #292929;
    border: 1px solid #000;
    transition: all .3s linear;
}
/*新menu*/
#wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #fff;
    overflow: hidden;
    -ms-touch-action: none;
}

#scroller {
    position: absolute;
    z-index: 1;
    height: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}